@using OnlineCourses.Comparers
@model CategoriesToUserModel

<!-- Page Title -->
<div class="row mt-5">
    <div class="col-md-10">
        <h2>Choose your Courses</h2>
    </div>
</div>

<!-- Category Selection Form -->
<form asp-action="Index">
    <div class="row mt-3">
        <div class="col-md-10">
            <table class="table table-bordered">
                @if (Model != null)
                {
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Select</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td class="text-center" style="width:150px;">
                                    <!-- Checkbox to select categories -->
                                    <input type="checkbox"
                                           class="form-check-input"
                                           id="CategoriesSelected"
                                           name="CategoriesSelected"
                                           value="@category.Id"
                                    @(Model.CategoriesSelected != null && Model.CategoriesSelected.Contains(category, new CompareCategories()) ? "checked" : "") />
                                </td>
                                <td>@category.Title</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>

    <!-- Save Button -->
    <div class="row">
        <div class="col-md-10 d-flex">
            <input type="submit" value="Save" class="btn btn-outline-info ms-auto" />
        </div>
    </div>
</form>
