@model IEnumerable<Category>

<!--Hero Section-->
<div class="hero position-relative">
    <img class="img-fluid w-100" src="~/Images/HeroImage.jpeg" alt="Hero Image">
    <div class="hero-heading position-absolute top-50 start-50 translate-middle text-center text-light">
        <h2 class="display-4 fw-bold">Learn Software Engineering at <strong>Online Courses</strong></h2>
        <a id="HeroRegisterButton" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#UserRegistrationModal">Register</a>
    </div>
</div>

<hr class="section-divider my-5" />

<!--Courses Section-->
<div id="Courses" class="courses section container">
    <h3 class="section-header mb-4 text-center">Our Courses</h3>
    @{
        const int itemsPerRow = 4;
        var count = Model.Count() / itemsPerRow;
        var catList = new List<Category>();
    }
    @for (int i = 0; i <= count; i++)
    {
        catList = Model.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
        <partial name="_DisplayCardRowPartial" model="catList" />
    }
</div>

<hr class="section-divider my-5" />

<!--Contact Us Section-->
<div id="ContactUs" class="contact-us section container">
    <h3 class="section-header mb-4 text-center">Contact Us</h3>
    <div class="col-md-6 mb-4">
        <p>Email us any questions or inquiries at <a href="mailto:info@onlinecourses.com">info@onlinecourses.com</a> or call <strong>518-387-9999</strong>. We would be happy to answer your questions and set up a meeting with you.</p>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <form>
                <div class="mb-3">
                    <label for="Name" class="form-label">Name:</label>
                    <input id="Name" class="form-control" placeholder="Enter your name" />
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <input id="Email" class="form-control" placeholder="Enter your email" />
                </div>
                <div class="mb-3">
                    <label for="Subject" class="form-label">Subject:</label>
                    <input id="Subject" class="form-control" placeholder="Enter the subject" />
                </div>
                <div class="mb-3">
                    <label for="MessageBody" class="form-label">Message:</label>
                    <textarea id="Messagebody" class="form-control" rows="5" placeholder="Write your message"></textarea>
                </div>
                <div class="d-flex">
                    <input type="button" value="Send Email" class="btn btn-outline-info ms-auto" />
                </div>
            </form>
        </div>
    </div>
</div>

<hr class="section-divider my-5" />

<!--About Us Section-->
<div id="AboutUs" class="about-us section container">
    <h3 class="section-header mb-4 text-center">About Us</h3>
    <div class="col-md-6 mx-auto">
        <p><strong>Online Courses</strong> has been providing high-quality tech content since 1998. We offer articles and courses on various programming topics to help our members enhance their skills.</p>
    </div>
</div>
