@model int

@{
    var createUrl = Model == 0
        ? Url.Action("Create")
        : Url.Action("Create", new { CategoryId = Model });
}

<a href="@createUrl" class="btn btn-outline-info">
    <i class="fas fa-plus me-2"></i>Create New
</a>
